    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Kumo Labs</h2>
              <br/>
                <p>Kumo Labs is an exciting new startup dedicated to providing
                  insights into your local community and neighborhood. We are using
                  the latest techniques in big data processing and data science
                  to mine the vast amount of open government data and generate
                  information that is the most relevent to our users.</p>
                  <p>We are currently developing our own product around our
                  research and expertise which will launch sometime in Q4 2015.
                  Please contact us or check back for more information.</p>
                <br/>
              </div>
        </div>
    </section>
